@model FolhaDePonto.Models.LoginModel

@{
    ViewData["Title"] = "Login";
}

@if (ViewBag.MensagemErro != null)
{
    <div class="alert alert-danger">@ViewBag.MensagemErro</div>
}

<h1>Login</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Login" asp-action="Index" method="post">
            <div class="form-group">
                <label asp-for="Email">Email:</label>
                <input type="email" class="form-control" asp-for="Email" required />
            </div>
            <div class="form-group">
                <label asp-for="Password">Senha:</label>
                <input type="password" class="form-control" asp-for="Password" required />
            </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" asp-for="RememberMe" />
                <label class="form-check-label" asp-for="RememberMe">Lembrar de mim</label>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
</div>